<!doctype html>
<html lang="{{ lang.type }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ project.author }}" />
    <meta
      name="description"
      content="This is a blog for {{ project.author }}."
    />

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/fonts.css" | version }} defer />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/base.css" | version }} defer />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/table.css" | version }} defer />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/media.css" | version }} defer />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/code.css" | version }} defer />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/nav.css" | version }} defer />
    <link rel="stylesheet" type="text/css" href= {{ "/static/css/card.css" | version }} defer />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/colors.css"
      defer
    />
    <title>{{ project.title }}</title>
  </head>

  <body>
    {{ content | safe }}
  </body>
  <script src={{ "/static/js/core.js" | version }}></script>
</html>
